
:root{
    --box-size:100px;
    --color:linear-gradient(to left,pink,black);
}
.box{
    background-color:white;
    color: black;
    border: solid black 2px;
    color:brown;
    font-size: 80px;
    padding-left: 25px;
    cursor: pointer;
 
    font-family: 'Roboto Mono', monospace

    
    
    
    
}
.winning-message{
   

}
input{
    width: 10vw;
    height:5vh ;
    margin-left: 20vw;
    background-color: white;
    color: black;

}
input:hover{
    background-color: antiquewhite;
}
#box1,#box2,#box3{
    border-top: none;
}
#box1,#box4,#box7{
    border-left: none;
}
#box7,#box8,#box9{
    border-bottom: none;
}
#box3,#box6,#box9{
    border-right: none;
}
.game-board{
    margin-top: 250px;
    display: grid;
    justify-content: center;
   
    align-content: center;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    
}
body{
    background-color: var(--color);
}
#info{
    color: white;
    background-color: black;
    width: 18vw;
    height: 10vh;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    display: flex; 
    padding-left: 15px;
    padding-top: 20px;

}

@keyframes line{
    from{
width:0px;
height: 0px;}
to {
    width: 300px;
    height: 200px;
}
    
}
@media screen and (max-width:600px){
     #restart{
        width: 20vw;
        margin-right: 100px;
        background-color: blue;
     }
     #info{
         height: 20vh;
         width: 40vw;
     }
     .game-board{
         margin-bottom: 5vh;
         margin-top: 10vh;
       
        
     }
}
.winingg{
    position: absolute;
    width: 300px;
    height: 200px;
    display: inline-block;
animation: line 2s ease-out 1s 4 normal;
}
